/******************  Custom Fonts ******************/

@font-face {
    font-family: 'Anton-Regular';
    src: url('./assets/fonts/Anton-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url('./assets/fonts/Roboto-Italic.ttf');
}

.App {
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #101d2c;
    z-index: -1;
}

.title {
    font-family: Anton-Regular;
    font-size: 65px;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 10px;
    background-image: linear-gradient(135deg,#dfe3ea, #ffaf7e);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.delete-button {
    visibility: hidden;
    display: inline-block;
}

.stock-card:hover .delete-button {
    visibility: visible;
}

.hero-image {
	max-height: 100%;
	max-width: 400px;
    height: auto;
    width: auto;
	background-size: cover;
    display: inline-block;
}
.hide-bg{
    mix-blend-mode: multiply;
    filter: contrast(1);
  }

.stock-card {
    background-color: #22354b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-radius: 10px;
    min-width: 900px;
}

.stock-card-data {
    align-content: center;
    /* background-color: #a97eff; */
    width: 80px;
}


