/******************  Custom Fonts ******************/

@font-face {
    font-family: 'Anton-Regular';
    src: url('./assets/fonts/Anton-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url('./assets/fonts/Roboto-Italic.ttf');
}

.App {
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #101d2c;
    z-index: -1;
}

.title {
    font-family: Roboto-Regular;
    font-size: 65px;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #19eaca;
    -webkit-text-fill-color: #22354b;
}

.delete-button {
    visibility: hidden;
    display: inline-block;
}

.stock-card:hover .delete-button {
    visibility: visible;
}

.hero-image {
    background-color: red;
    min-height: 5em;
}

.hide-bg {
    mix-blend-mode: multiply;
    filter: contrast(1);
}

.stock-card {
    background-color: #22354b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-radius: 10px;
    border-color: #ffaf7e;
    border-width: 4px;
    min-width: 900px;
    height: 80px;
}

.stock-card-data {
    align-content: center;
    /* background-color: #a97eff; */
    width: 80px;
}

.auto-complete {
    color: #19eaca;
}


